/*null styles*/

* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; 
  color: black;
}

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }
/*-----------------------------------------*/
@font-face {
  font-family: Gilroy;
  src: url(/fonts/gilroy-medium.ttf);
}
/*------------------------------------------------
                      header
--------------------------------------------------*/
.wrapper {
  font-family: Gilroy;

  display: flex;
  flex-direction: column;
}
.container {
  margin: 0 auto;
  padding: 0 250.60px;
}
.header {}
.header__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.header__nav {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;

  display: flex;
  justify-content: space-between;
  padding: 33px 0px 32px 0px;
  font-weight: Bold;
  line-height: 22px;
  font-size: 18px;

  border-bottom: 1px solid #828282;

  margin: 0px 0px 40px 0px;
}
.header__nav a {
  color: #828282;
  padding: 25px;
}
.header__nav a:first-child {
  padding: 25px 0px;
}
.header__nav a:last-child {
  padding: 25px 0px;
}
.header__nav a:hover {
  color: #070707;
}
.header__title {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  color: #070707;
  font-weight: Bold;
  line-height: 59px;
  font-size: 47.3px;

  justify-self: start;
  align-self: center;
}
.header__subtitle {
  display: block;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  justify-self: center;
  align-self: center;

  line-height: 22px;
  font-size: 18px;
  color: #070707;
}
.header__lang {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

  justify-self: end;
  align-self: center;

  font-weight: Bold;
  line-height: 20px;
  font-size: 16px;

  margin: 0px -20px 0px 0px;

  transform: rotate(-90deg);
}
.header__lang a {
  color: #828282;
}
.header__lang a:checked {
  color: #070707;
}
.header__img {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;

  width: 100%;

  margin: 54px 0px 104.5px 0px;
}
.header__img-adaptive {
  display: none;
}
.header__block-adaptive {}
#header__checkbox {
  display: none;
}
.header__label {
  display: none;
}

/*------------------------------------------------
--------------------------------------------------*/


/*------------------------------------------------
                      content
--------------------------------------------------*/

/*------------------------------------------------
                      content-about-me
--------------------------------------------------*/

.content {
  
}
.title {
  font-weight: bold;
  text-align: center;
  line-height: 42px;
  font-size: 34px;
  color: #070707;
}
.text {
  color: #070707;
  line-height: 22px;
  font-size: 18px;
  text-align: center;
}
.content__about-me {
  padding: 120px 0px 107px 0px;
  background-color: #f6f6f6;
}
.about-me__body {
  display: flex;
  flex-direction: column;
}
.about-me__title {
  margin: 0px 0px 17.6px 0px;
}
.about-me__text {}


/*------------------------------------------------
                      content-skills
--------------------------------------------------*/

.content__skills {
  padding: 91px 0px 110px 0px;
}
.skills__body {
}
.skills__title {
  margin: 0px 0px 69px 0px;
}
.skills__text {
  margin: 0px 0px 83.5px 0px;
}
.skills__items {
  display: flex;
  justify-content: space-between;
}
.skills__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
.skills__img {
  max-width: 90px;
  align-self: center;

  margin: 0px 0px 23px 0px;
}

.skill-subtitle {
  font-weight: Bold;
  line-height: 17px;
  font-size: 14px;
  color: #828282;
  text-align: center;

  margin: 0px 0px 41.41px 0px;
}
.skills__rating {
  align-self: center;
}

/*------------------------------------------------
                      content-Portfolio
--------------------------------------------------*/

.content__portfolio {
  background-color: #f6f6f6;
  padding: 113px 0px 96px 0px;
}
.portfolio__body {}
.portfolio__title {
  margin: 0px 0px 97px 0px;
}
.portfolio__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.portfolio__item {
  align-self: center;
}
.portfolio__img {
  width: 100%;
  margin: 0px 0px 45px 0px;
}
.portfolio__subtitle {
  margin: 0px 0px 96px 0px;

  line-height: 22px;
  font-size: 18px;

  text-align: center;

  text-decoration: underline;
}

/*------------------------------------------------
                      footer
--------------------------------------------------*/

.footer {
  padding: 115px 0px 123px 0px;
}
.footer a {
  color: #fff;
}
.footer__body {
  display: flex;
  flex-direction: column;
}
.footer__title {
  margin: 0px 0px 20px 0px;
}
.footer__text {
  margin: 0px 0px 30px 0px;
}
.footer__btn {

  justify-self: center;

  padding: 13px 30px 13px 28px;
  margin: 0px auto 86px auto;

  font-weight: Bold;
  line-height: 22px;
  font-size: 18px;
  text-align: center;
  background-color: #000;
  border-radius: 40px;
}
.footer__links {
  margin: 0px -60px 45px -60px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.footer__link {
  margin: 0px 41px 0px 41px;
}
.footer__subtext {
  line-height: 17px;
  font-size: 14px;
  text-align: center;
  color: #828282;
}




/*------------------------------------------------
                      adaptive
--------------------------------------------------*/
@media (max-width: 375px) {
  .wrapper  {
    overflow: hidden;
  }
  .container {
    margin: 0 auto;
    padding: 0 29px;
  }
  .header__body {
    display: flex;
    flex-direction: column;

    position: relative;
  }
  .header__nav {
    display: none;
  }
  .header__nav li {
    width: 80%;
    margin: 0px 0px 68px 0px;
  }
  .header__lang {
    visibility: hidden;
  }
  .header__title {
    justify-self: start;  
    align-self: start;

    margin: 65px 0px 23px 0px;
  }
  .header__subtitle {
    display: block;
    justify-self: start;  
    align-self: start;
  }
  .header__img {
    display: none;
  }
  .header__img-adaptive {
    display: block;

    width: auto;
    height: 478px;

    margin: 37px 0px 83px 0px;

    background-image: url(img/header-img-adaptive-portfolio.jpg);
  }

  .header__block-adaptive {
    display: block;
    width: 0vh;
    height: 100vh;
    background-color: #fff;
    z-index: 1;

    transition-duration: 0.2s;

    position: absolute;
      top: -75.5px;
     right: -30px;
  }
  #header__checkbox {
  display: none;
  }
  .header__label {
    display: block;
    position: absolute;
      top: 75.5px;
      right: 0px;
  }
  .header__label span {
    display: block;
    width: 33px;
    height: 4px;
    background-color: #000000;
    border-radius: 20px;

    transition-duration: 0.2s;

    position: relative;
    z-index: 2;
  }
  .header__label span::before {
    content: '';
    display: block;
    width: 33px;
    height: 4px;
    background-color: #000000;
    border-radius: 20px;

    transition-duration: 0.2s;

    transform: translateY(8px);

    position: relative;
    z-index: 2;
  }
  .header__label span::after {
    content: '';
    display: block;
    width: 33px;
    height: 4px;
    background-color: #000000;
    border-radius: 20px;

    transition-duration: 0.2s;

    transform: translateY(-12px);

    position: relative;
    z-index: 2;
  }
  #header__checkbox:checked ~ .header__block-adaptive {
    width: 50vh;
    position: absolute;
      top: -75.5px;
     right: -30px;
  }

  #header__checkbox:checked ~ .header__label span {
    width: 0;
  }
  #header__checkbox:checked ~ .header__label span::before {
    width: 28px;
    transform: rotate(45deg) translate(-25px, 30px);
    background-color: #828282;;
  }
  #header__checkbox:checked ~ .header__label span::after {
    width: 28px;
    transform: rotate(-45deg) translate(-27px, -28px);
    background-color: #828282;
  }

  #header__checkbox:checked ~ .header__img-adaptive {
    display: none;
  }
  #header__checkbox:checked ~ .header__subtitle {
    visibility: hidden;
  }
  #header__checkbox:checked ~ .header__nav {
    display: flex;
    flex-direction: column;

    position: relative;
    z-index: 3;
    border: none;

    max-width: 80%;

    line-height: 34px;
    font-size: 42px;
  }
  #header__checkbox:checked ~ .header__lang {
    position: absolute;
      bottom: 57px;
      right: 0px;
    z-index: 3;
    visibility: visible;
    line-height: 42px;
    font-size: 34px;
    transform: rotate(90deg);
  }



  .skills__items {
    display: flex;
    flex-direction: column;
  }
  .skills__items >.skills__item {
    margin: 0px 0px 80.7px 0px;
  }
}

@media (max-width: 475px) {
  .wrapper  {
    overflow: hidden;
  }
  .container {
    margin: 0 auto;
    padding: 0 29px;
  }
  .header__body {
    display: flex;
    flex-direction: column;

    position: relative;
  }
  .header__nav {
    display: none;
  }
  .header__nav li {
    width: 80%;
    margin: 0px 0px 68px 0px;
  }
  .header__lang {
    visibility: hidden;
  }
  .header__title {
    justify-self: start;  
    align-self: start;

    margin: 65px 0px 23px 0px;
  }
  .header__subtitle {
    display: block;
    justify-self: start;  
    align-self: start;
  }
  .header__img {
    display: none;
  }
  .header__img-adaptive {
    display: block;

    width: auto;
    height: 478px;

    margin: 37px 0px 83px 0px;

    background-image: url(img/header-img-adaptive-portfolio.jpg);
    background-repeat: no-repeat;
    background-position: center center;
  }

  .header__block-adaptive {
    display: block;
    width: 0vh;
    height: 100vh;
    background-color: #fff;
    z-index: 1;

    transition-duration: 0.2s;

    position: absolute;
      top: -75.5px;
     right: -30px;
  }
  #header__checkbox {
  display: none;
  }
  .header__label {
    display: block;
    position: absolute;
      top: 75.5px;
      right: 0px;
  }
  .header__label span {
    display: block;
    width: 33px;
    height: 4px;
    background-color: #000000;
    border-radius: 20px;

    transition-duration: 0.2s;

    position: relative;
    z-index: 2;
  }
  .header__label span::before {
    content: '';
    display: block;
    width: 33px;
    height: 4px;
    background-color: #000000;
    border-radius: 20px;

    transition-duration: 0.2s;

    transform: translateY(8px);

    position: relative;
    z-index: 2;
  }
  .header__label span::after {
    content: '';
    display: block;
    width: 33px;
    height: 4px;
    background-color: #000000;
    border-radius: 20px;

    transition-duration: 0.2s;

    transform: translateY(-12px);

    position: relative;
    z-index: 2;
  }
  #header__checkbox:checked ~ .header__block-adaptive {
    width: 50vh;
    position: absolute;
      top: -75.5px;
     right: -30px;
  }

  #header__checkbox:checked ~ .header__label span {
    width: 0;
  }
  #header__checkbox:checked ~ .header__label span::before {
    width: 28px;
    transform: rotate(45deg) translate(-25px, 30px);
    background-color: #828282;;
  }
  #header__checkbox:checked ~ .header__label span::after {
    width: 28px;
    transform: rotate(-45deg) translate(-27px, -28px);
    background-color: #828282;
  }

  #header__checkbox:checked ~ .header__img-adaptive {
    display: none;
  }
  #header__checkbox:checked ~ .header__subtitle {
    visibility: hidden;
  }
  #header__checkbox:checked ~ .header__nav {
    display: flex;
    flex-direction: column;

    position: relative;
    z-index: 3;
    border: none;

    max-width: 80%;

    line-height: 34px;
    font-size: 42px;
  }
  #header__checkbox:checked ~ .header__lang {
    position: absolute;
      bottom: 57px;
      right: 0px;
    z-index: 3;
    visibility: visible;
    line-height: 42px;
    font-size: 34px;
    transform: rotate(90deg);
  }



  .skills__items {
    display: flex;
    flex-direction: column;
  }
  .skills__items >.skills__item {
    margin: 0px 0px 80.7px 0px;
  }
}

@media (max-width: 768px) {
  .wrapper  {
    overflow: hidden;
  }
  .container {
    margin: 0 auto;
    padding: 0 29px;
  }
  .header__body {
    display: flex;
    flex-direction: column;

    position: relative;
  }
  .header__nav {
    display: none;
  }
  .header__nav li {
    width: 80%;
    margin: 0px 0px 68px 0px;
  }
  .header__lang {
    visibility: hidden;
  }
  .header__title {
    justify-self: start;  
    align-self: start;

    margin: 65px 0px 23px 0px;
  }
  .header__subtitle {
    display: block;
    justify-self: start;  
    align-self: start;
  }
  .header__img {
    display: none;
  }
  .header__img-adaptive {
    display: block;

    width: auto;
    height: 478px;

    margin: 37px 0px 83px 0px;

    background-image: url(img/header-img-adaptive-portfolio.jpg);
    background-repeat: no-repeat;
    background-position: center center;
  }

  .header__block-adaptive {
    display: block;
    width: 0vh;
    height: 100vh;
    background-color: #fff;
    z-index: 1;

    transition-duration: 0.2s;

    position: absolute;
      top: -75.5px;
     right: -30px;
  }
  #header__checkbox {
  display: none;
  }
  .header__label {
    display: block;
    position: absolute;
      top: 75.5px;
      right: 0px;
  }
  .header__label span {
    display: block;
    width: 33px;
    height: 4px;
    background-color: #000000;
    border-radius: 20px;

    transition-duration: 0.2s;

    position: relative;
    z-index: 2;
  }
  .header__label span::before {
    content: '';
    display: block;
    width: 33px;
    height: 4px;
    background-color: #000000;
    border-radius: 20px;

    transition-duration: 0.2s;

    transform: translateY(8px);

    position: relative;
    z-index: 2;
  }
  .header__label span::after {
    content: '';
    display: block;
    width: 33px;
    height: 4px;
    background-color: #000000;
    border-radius: 20px;

    transition-duration: 0.2s;

    transform: translateY(-12px);

    position: relative;
    z-index: 2;
  }
  #header__checkbox:checked ~ .header__block-adaptive {
    width: 50vh;
    position: absolute;
      top: -75.5px;
     right: -30px;
  }

  #header__checkbox:checked ~ .header__label span {
    width: 0;
  }
  #header__checkbox:checked ~ .header__label span::before {
    width: 28px;
    transform: rotate(45deg) translate(-25px, 30px);
    background-color: #828282;;
  }
  #header__checkbox:checked ~ .header__label span::after {
    width: 28px;
    transform: rotate(-45deg) translate(-27px, -28px);
    background-color: #828282;
  }

  #header__checkbox:checked ~ .header__img-adaptive {
    display: none;
  }
  #header__checkbox:checked ~ .header__subtitle {
    visibility: hidden;
  }
  #header__checkbox:checked ~ .header__nav {
    display: flex;
    flex-direction: column;

    position: relative;
    z-index: 3;
    border: none;

    max-width: 80%;

    line-height: 34px;
    font-size: 42px;
  }
  #header__checkbox:checked ~ .header__lang {
    position: absolute;
      bottom: 57px;
      right: 0px;
    z-index: 3;
    visibility: visible;
    line-height: 42px;
    font-size: 34px;
    transform: rotate(90deg);
  }



  .skills__items {
    display: flex;
    flex-direction: column;
  }
  .skills__items >.skills__item {
    margin: 0px 0px 80.7px 0px;
  }
  .footer__btn {
    padding: 13px 90px 13px 88px;
  }
.footer__link {
  margin: 0px 21px 0px 21px;
}
}


/*------------------------------------------------
--------------------------------------------------*/